<footer>
    <div class="container py-5">
        <div class="row ">
            <div class="col-sm-4 mx-2 mt-4">
                <h2 mb-5>About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laboriosam odit, odio iusto magni ad iste consequatur voluptatem neque itaque id delectus repellendus vero maxime nobis ullam. Quasi, debitis quidem.</p>

                <a><i class="fa fa-facebook-official  me-3 "  ></i> </a>
                <a><i class="fa fa-twitter me-3" aria-hidden="true"></i> </a>
                <a><i class="fa fa-linkedin-square me-3" aria-hidden="true"></i> </a>
                <a><i class="fa fa-instagram me-3" aria-hidden="true"></i> </a>

                
                
            </div>
            <div class="col-sm-4 mx-5 mt-4 ">
                <div class="row">
                    <h2 mb-5>Address</h2>                    
                </div>
                <div class="row">
                    
                    <p><span class="fa fa-map-marker"></span> Location</p> 
                    <p><span class="fa fa-phone"> </span> Call +01 1234567890</p>
                    <p><span class="fa fa-envelope-o"></span> Demo@gmail.com</p>
                    
                </div>
            </div>

        </div>
        
    </div>

</footer>