<section class="blog-section">
    <div class="container py-5 my-3" >
        <div class="row justify-content-center">
            <h1 class="fw-bold display-6 text-center py-5">From Our Blog</h1>
            <div class="col-4 " >
                <div class="card-sl" >
                  <div class="card-image">
                      <img
                          src="../../../../assets/images/b1.jpg" />
                  </div>

                  <h6 class="card-action">19 January 2021</h6>
                  <div class="card-heading mb-5">
                      <h5>Eius, dolor? Vel velit sed</h5>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae animi debitis obcaecati quisquam eum excepturi amet suscipit iste consequntur cum.</p>
                      <a href="" class="card-button mb-4"> Read more</a>
                  </div>                  
                  
                </div>
            </div>
            <div class="col-4">
              <div class="card-sl">
                <div class="card-image">
                    <img
                        src="../../../../assets/images/b2.jpg"/>
                </div>

                <h6 class="card-action">27 April 2021</h6>
                <div class="card-heading">
                    <h5>At vero eos et accusamus et iusto </h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut debitis, aliquid maiores minima facilis quas ipsa incidunt esse. Non, totam veritatis.</p>
                    <a href="" class="card-button mb-4"> Read more</a>
                </div>
                
                
                
              </div>
            </div>
        </div>
    </div>
</section>