<section  style="background-color: rgb(136, 205, 245);">
    <div class="container-fluid py-5">
        <div class="row pb-5">
            <div class="row  py-3">
              <div class="col-md-6 px-5 d-flex flex-column justify-content-center">
                <h3 class="home-sub">Bostorek Bookstore</h3>
                <h1 class="fw-bold display-5  mb-4">For All Your <br>Reading Needs</h1>
                <p class="pt-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste quam
                    velit saepe dolorem deserunt quo quidem ad optio.
                </p>

                <div>
                    <button class="btn btn-lg mt-4 button-color py-2 px-5">Read More</button>

                </div>
              </div>
              <div class="col-md-6  pe-5 carousel-main">               
      
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="../../../../assets/images/slider-img.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                      <img src="../../../../assets/images/slider-img.png" class="d-block w-100" alt="...">
                    </div>
                    
                  </div>
                  
                  
                </div>
                
              </div>
            </div>

        </div>
    </div>

    <button class=" btn-carousel-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      
      <button class="btn-carousel-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
    </button>
  </section>